.navbar ul{
    float: right;
}

.navbar ul li{
    display: inline-block;
    padding-right: 40px;
    padding-top: 30px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
}

.navbar ul li a:hover{
    color: aqua;
    transition-duration: 0.4s;
    letter-spacing: 5px;
}

.cart{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -15px;
    left: -50px;
    text-align: center;
    background-color: black;
    color: white;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.5;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(213, 245, 245);
}

.about_us{
    width: 100%;
}

.about_us h1{
    text-align: center;
    font-size: 40px;
    color: #2b9ec2;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 50px;
}

.about_us h1::after{
    content:"" ;
    height: 5px;
    width: 200px;
    background-color: #2b9ec2;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.wrapper{
    padding: 0px 60px;
    margin: 60px auto;
}

.content{
    width: 60%;
    float: left;
    text-align: left;
    padding: 0px 30px;
}

.content h3{
    color: #222;
    letter-spacing: 1px;
}

.content p{
    font-size: 17px;
    color: #3d3d3d;
    margin-top: 20px;
}

.content .button{
    margin-top: 40px;
    text-decoration: none;
    border-radius: 20px;
}

.content .button a{
    color: black;
    background-color: #2b9ec2;
    border: 1px solid #2b9ec2;
    padding: 10px 35px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 22px;
    text-transform: uppercase;
}

.content .button a:hover{
    background-color: #fff;
    counter-reset: #2b9ec2;
}

.content .social{
    margin-top: 30px;
    margin-left: 15px;
}

.content .social a{
    text-decoration: none;
    color:#222;
    font-size: 25px;
    padding: 0px 7px;
}
.content .social a:hover{
    transition: 0.7s ease;
    color: #2b9ec2;
}

.content .social i{
    height: 40px;
    width: 40px;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.image-section{
    width: 40%;
    float: right;
    padding: 0px 30px;
}

