/* index */
.navbar ul{
    float: right;
}

.navbar ul li{
    display: inline-block;
    padding-right: 40px;
    padding-top: 30px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
}

.navbar ul li a:hover{
    color: aqua;
    transition-duration: 0.4s;
    letter-spacing: 5px;
}

.cart{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -15px;
    left: -50px;
    text-align: center;
    background-color: black;
    color: white;
}

.bgimg{
    width: 100%;
}

.bgtext{
    position: absolute;
    top: 250px;
    left: 100px;

}

.bgtext2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: unset;
    margin-bottom: 25px;

}

.btn{
    margin-top: 15px;
    border: 1px solid skyblue;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;


}

.btn:hover{
    transition-duration: .4s;
    cursor: pointer;
    color: aqua;

}

.product{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.header{
    text-align: center;
    margin-top: 50px;
}

.divided{
    width: 100px;
    margin: auto;
    border: 5px solid #2a84ac;
}

.img{
    width: 100%;
    box-shadow: 0px 10px 20px (0, 0, 0, 0, .7);
    border-radius: 10px;
}

.add_2_cart{
    padding: 10px 15px;
    border-radius: 15px;
    border: 1px solid #2a84ac;
    background-color: white;

}

.discount{
    font-size: 13px;
    color: red;
    text-decoration: line-through;
}

.package_header{
    margin-top: 50px;
    margin-left: 80px;
}
.package_img{
    border-radius: 10px;
    width: 40%;
    height: 40%;
    margin-left: 80px;
    float: left;

}

.packaging_text{
    position: relative;
    left: 50px;
    width: 90%;
    line-height: 30px;

}

.service{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #e4ecee;
    margin-top: 100px;
    padding: 30px 60px;
}

.service_text{
    display: inline-block;
    margin-left: 20px;

}

.service_header{
    font-size: 22px;
    font-weight: bold;
}

.footer{
    text-align: center;
    background-color: gray;
    padding: 50px;

}

.footer a{
    color: white;
    text-decoration: none;
    margin: 20px;
}

.footer p{
    margin-top: 20px;
    color: white;
    margin-bottom: 20px;
}



